/**
 * Switches styles for mobile devices.
 *
 * @see https://google.github.io/styleguide/htmlcssguide.html
 * @see https://github.com/google/closure-stylesheets
 *
 * @see https://developer.apple.com/design/human-interface-guidelines/ios/controls/switches/
 * @see https://material.io/design/components/selection-controls.html#switches
 */

.ios .switches input,
.md .switches input {
  appearance: none;
  -webkit-appearance: none;
  float: right;
  outline: none;
}

.ios .switches input:after,
.md .switches input:after {
  border-radius: 50%;
  content: "";
  display: inline-block;
  pointer-events: none;
  z-index: 1;
}

.ios .switches input:checked:after,
.md .switches input:checked:after {
  /*transition: transform 200ms;*/
}

.ios .switches td {
  border-top: solid 1px #ddd;
  padding: 12px 0 6px !important;
}

.ios .switches tr:first-child td {
  border-top: 0;
}

.ios .switches input {
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
  height: 30px;
  margin: -4px 3px 0;
  width: 50px;
  /*transition: box-shadow 200ms;*/
}

.ios .switches input:after {
  background-color: transparent;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  height: 26px;
  transform: translateX(1px) translateY(1px);
  width: 26px;
}

.ios .switches input:checked {
  border-color: #4ED164;
  box-shadow: inset 20px 0 0 0 #4ED164;
}

.ios .switches input:checked:after {
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
  transform: translateX(21px) translateY(1px);
}

.md .switches input {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  height: 14px;
  margin: 5px 3px 0;
  opacity: .38;
  width: 32px;
}

.md .switches input:after {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  height: 20px;
  transform: translateX(-3px) translateY(-4px);
  width: 20px;
}

.md .switches input:checked {
  background-color: rgba(0, 119, 247, 0.5);
  border-color: rgba(0, 119, 247, 0.2);
  opacity: 1;
}

.md .switches input:checked:after {
  background-color: rgba(0, 119, 247, 0.9);
  transform: translateX(14px) translateY(-4px);
}
